In [175]:
import matplotlib.pyplot as plt
import numpy as np
import random
import pandas as pd
from icecream import ic

In [176]:
data = pd.read_csv('../Datasets/For_RBF/iris.csv')
# data = data.sample(frac=1, random_state=43).reset_index(drop=True)
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [177]:
X_train = data.drop(['Species', 'Id'], axis=1)
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [178]:
y_train = pd.DataFrame(data['Species'])
y_train['Species'] = y_train['Species'].replace('Iris-setosa', 2)
y_train['Species'] = y_train['Species'].replace('Iris-versicolor', 1)
y_train['Species'] = y_train['Species'].replace('Iris-virginica', 0)
# y_train['Species'] = pd.factorize(data['Species'])[0]
y_train = (y_train - y_train.min()) / (y_train.max() - y_train.min())  # нормализация
y_train

     Species
0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
..       ...
145      0.0
146      0.0
147      0.0
148      0.0
149      0.0

[150 rows x 1 columns]

In [179]:
X_test = pd.read_csv('../Datasets/For_RBF/test_iris.csv')
X_test = X_test.drop(['species', 'Unnamed: 0'], axis=1)
X_test

    sepal length  sepal width  petal length  petal width
0            5.8          2.8           5.1          2.4
1            5.9          3.2           4.8          1.8
2            6.0          3.0           4.8          1.8
3            5.2          2.7           3.9          1.4
4            5.1          3.8           1.9          0.4
5            7.2          3.2           6.0          1.8
6            5.5          3.5           1.3          0.2
7            6.9          3.1           5.1          2.3
8            4.8          3.0           1.4          0.1
9            6.1          2.9           4.7          1.4
10           4.9          2.5           4.5          1.7
11           5.7          2.9           4.2          1.3
12           6.3          2.9           5.6          1.8
13           4.6          3.6           1.0          0.2
14           5.0          3.4           1.6          0.4
15           6.5          3.0           5.8          2.2
16           5.4          3.0           4.5          1.5
17           5.2          4.1           1.5          0.1
18           5.7          3.8           1.7          0.3
19           5.8          2.7           4.1          1.0
20           5.5          2.3           4.0          1.3
21           6.4          3.1           5.5          1.8
22           5.5          4.2           1.4          0.2
23           4.6          3.4           1.4          0.3
24           5.0          2.0           3.5          1.0
25           4.7          3.2           1.6          0.2
26           5.4          3.9           1.3          0.4
27           6.0          2.7           5.1          1.6
28           5.7          4.4           1.5          0.4
29           4.7          3.2           1.3          0.2
30           5.7          3.0           4.2          1.2
31           6.9          3.1           4.9          1.5
32           5.5          2.6           4.4          1.2
33           5.5          2.4           3.7          1.0
34           5.8          2.7           5.1          1.9
35           5.8          2.6           4.0          1.2
36           7.2          3.0           5.8          1.6
37           6.1          2.8           4.0          1.3
38           6.7          2.5           5.8          1.8
39           6.8          3.2           5.9          2.3
40           5.4          3.9           1.7          0.4
41           6.3          3.3           4.7          1.6
42           7.1          3.0           5.9          2.1
43           6.2          2.9           4.3          1.3
44           6.0          2.9           4.5          1.5
45           6.4          2.8           5.6          2.1
46           5.7          2.8           4.1          1.3
47           7.9          3.8           6.4          2.0
48           4.4          2.9           1.4          0.2
49           6.5          2.8           4.6          1.5

In [180]:
y_test = pd.read_csv('../Datasets/For_RBF/test_iris.csv')
y_test = y_test.drop(['Unnamed: 0', 'petal length', 'petal width', 'sepal length', 'sepal width'], axis=1)
y_test['species'] = pd.factorize(y_test['species'])[0]
y_test['species'] = (y_test['species'] - y_test['species'].min()) / (
            y_test['species'].max() - y_test['species'].min())  # нормализация
y_test

    species
0       0.0
1       0.5
2       0.0
3       0.5
4       1.0
5       0.0
6       1.0
7       0.0
8       1.0
9       0.5
10      0.0
11      0.5
12      0.0
13      1.0
14      1.0
15      0.0
16      0.5
17      1.0
18      1.0
19      0.5
20      0.5
21      0.0
22      1.0
23      1.0
24      0.5
25      1.0
26      1.0
27      0.5
28      1.0
29      1.0
30      0.5
31      0.5
32      0.5
33      0.5
34      0.0
35      0.5
36      0.0
37      0.5
38      0.0
39      0.0
40      1.0
41      0.5
42      0.0
43      0.5
44      0.5
45      0.0
46      0.5
47      0.0
48      1.0
49      0.5

In [181]:
X_train.shape[0]

150

In [182]:
def rbf_function(x, c, s):
    return np.exp(-1 / (2 * s ** 2) * (x - c) ** 2)


class RBFNetwork:
    def __init__(self, k, learning_rate, epochs):
        self.k = k
        self.learning_rate = learning_rate
        self.epochs = epochs

    def train(self, X, y):
        # self.centers = [X.values[125], X.values[105], X.values[55], X.values[78], X.values[0], X.values[15]]
        self.centers = X.values[np.random.choice(X.shape[0], self.k, replace=False)]
        self.sigma = X.std().mean()
        self.weights = [random.uniform(0, 1)] * self.k
        for epoch in range(self.epochs):
            for i in range(X.shape[0]):
                distances = np.linalg.norm(X.loc[i].values - self.centers, axis=1)  # отклонение
                phi = rbf_function(distances, 0, self.sigma)
                prediction = phi.dot(self.weights)
                self.weights += self.learning_rate * (y.loc[i].values - prediction) * phi


    def predict(self, X):
        y_pred = []
        for i in range(X.shape[0]):
            distances = np.linalg.norm(X.loc[i].values - self.centers, axis=1)
            phi = rbf_function(distances, 0, self.sigma)
            prediction = phi.dot(self.weights)
            y_pred.append(prediction)
        return y_pred


rbf_network = RBFNetwork(k=12, learning_rate=0.01, epochs=500)
rbf_network.train(X=X_train, y=y_train)

y_test['y_pred'] = rbf_network.predict(X=X_test)
y_test['y_pred'] = round(y_test['y_pred'], 1)
y_test

    species  y_pred
0       0.0    -0.1
1       0.5     0.2
2       0.0     0.2
3       0.5     0.5
4       1.0     1.1
5       0.0     0.0
6       1.0     0.9
7       0.0     0.1
8       1.0     1.0
9       0.5     0.4
10      0.0     0.2
11      0.5     0.5
12      0.0    -0.0
13      1.0     0.9
14      1.0     1.1
15      0.0    -0.1
16      0.5     0.3
17      1.0     0.9
18      1.0     0.8
19      0.5     0.5
20      0.5     0.5
21      0.0     0.0
22      1.0     0.8
23      1.0     1.0
24      0.5     0.3
25      1.0     1.1
26      1.0     0.9
27      0.5     0.1
28      1.0     0.6
29      1.0     1.0
30      0.5     0.5
31      0.5     0.4
32      0.5     0.4
33      0.5     0.5
34      0.0    -0.0
35      0.5     0.5
36      0.0     0.1
37      0.5     0.6
38      0.0    -0.0
39      0.0    -0.1
40      1.0     1.0
41      0.5     0.4
42      0.0    -0.0
43      0.5     0.5
44      0.5     0.4
45      0.0    -0.1
46      0.5     0.5
47      0.0     0.0
48      1.0     0.9
49      0.5     0.4

In [183]:
from sklearn.metrics import mean_squared_error
y_test = round(y_test, 2)
mean_squared_error(y_test['species'], y_test['y_pred'])

0.017200000000000003

In [184]:
y_test

    species  y_pred
0       0.0    -0.1
1       0.5     0.2
2       0.0     0.2
3       0.5     0.5
4       1.0     1.1
5       0.0     0.0
6       1.0     0.9
7       0.0     0.1
8       1.0     1.0
9       0.5     0.4
10      0.0     0.2
11      0.5     0.5
12      0.0    -0.0
13      1.0     0.9
14      1.0     1.1
15      0.0    -0.1
16      0.5     0.3
17      1.0     0.9
18      1.0     0.8
19      0.5     0.5
20      0.5     0.5
21      0.0     0.0
22      1.0     0.8
23      1.0     1.0
24      0.5     0.3
25      1.0     1.1
26      1.0     0.9
27      0.5     0.1
28      1.0     0.6
29      1.0     1.0
30      0.5     0.5
31      0.5     0.4
32      0.5     0.4
33      0.5     0.5
34      0.0    -0.0
35      0.5     0.5
36      0.0     0.1
37      0.5     0.6
38      0.0    -0.0
39      0.0    -0.1
40      1.0     1.0
41      0.5     0.4
42      0.0    -0.0
43      0.5     0.5
44      0.5     0.4
45      0.0    -0.1
46      0.5     0.5
47      0.0     0.0
48      1.0     0.9
49      0.5     0.4

In [185]:
from sklearn.metrics import mean_squared_error
y_train['y_pred'] = rbf_network.predict(X=X_train)
y_train['y_pred'] = round(y_train['y_pred'], 1)
mean_squared_error(y_train['Species'], y_train['y_pred'])

0.012333333333333337