In [374]:
import matplotlib.pyplot as plt
import numpy as np
import random
import pandas as pd
from icecream import ic

In [375]:
data = pd.read_csv('../Datasets/For_RBF/iris.csv')
# data = data.sample(frac=1, random_state=43).reset_index(drop=True)
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [376]:
X_train = data.drop(['Species', 'Id'], axis=1)
X_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [377]:
y_train = pd.DataFrame(data['Species'])
y_train['Species'] = pd.factorize(data['Species'])[0]
y_train = (y_train - y_train.min()) / (y_train.max() - y_train.min())  # нормализация
y_train

     Species
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
..       ...
145      1.0
146      1.0
147      1.0
148      1.0
149      1.0

[150 rows x 1 columns]

In [378]:
y_train

     Species
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
..       ...
145      1.0
146      1.0
147      1.0
148      1.0
149      1.0

[150 rows x 1 columns]

In [379]:
X_test = pd.read_csv('../Datasets/For_RBF/test_iris.csv')
X_test = X_test.drop(['species', 'Unnamed: 0'], axis=1)
X_test

    sepal length  sepal width  petal length  petal width
0            5.8          2.8           5.1          2.4
1            5.9          3.2           4.8          1.8
2            6.0          3.0           4.8          1.8
3            5.2          2.7           3.9          1.4
4            5.1          3.8           1.9          0.4
5            7.2          3.2           6.0          1.8
6            5.5          3.5           1.3          0.2
7            6.9          3.1           5.1          2.3
8            4.8          3.0           1.4          0.1
9            6.1          2.9           4.7          1.4
10           4.9          2.5           4.5          1.7
11           5.7          2.9           4.2          1.3
12           6.3          2.9           5.6          1.8
13           4.6          3.6           1.0          0.2
14           5.0          3.4           1.6          0.4
15           6.5          3.0           5.8          2.2
16           5.4          3.0           4.5          1.5
17           5.2          4.1           1.5          0.1
18           5.7          3.8           1.7          0.3
19           5.8          2.7           4.1          1.0
20           5.5          2.3           4.0          1.3
21           6.4          3.1           5.5          1.8
22           5.5          4.2           1.4          0.2
23           4.6          3.4           1.4          0.3
24           5.0          2.0           3.5          1.0
25           4.7          3.2           1.6          0.2
26           5.4          3.9           1.3          0.4
27           6.0          2.7           5.1          1.6
28           5.7          4.4           1.5          0.4
29           4.7          3.2           1.3          0.2
30           5.7          3.0           4.2          1.2
31           6.9          3.1           4.9          1.5
32           5.5          2.6           4.4          1.2
33           5.5          2.4           3.7          1.0
34           5.8          2.7           5.1          1.9
35           5.8          2.6           4.0          1.2
36           7.2          3.0           5.8          1.6
37           6.1          2.8           4.0          1.3
38           6.7          2.5           5.8          1.8
39           6.8          3.2           5.9          2.3
40           5.4          3.9           1.7          0.4
41           6.3          3.3           4.7          1.6
42           7.1          3.0           5.9          2.1
43           6.2          2.9           4.3          1.3
44           6.0          2.9           4.5          1.5
45           6.4          2.8           5.6          2.1
46           5.7          2.8           4.1          1.3
47           7.9          3.8           6.4          2.0
48           4.4          2.9           1.4          0.2
49           6.5          2.8           4.6          1.5

In [380]:
y_test = pd.read_csv('../Datasets/For_RBF/test_iris.csv')
y_test = y_test.drop(['Unnamed: 0', 'petal length', 'petal width', 'sepal length', 'sepal width'], axis=1)
y_test['species'] = pd.factorize(y_test['species'])[0]
y_test['species'] = (y_test['species'] - y_test['species'].min()) / (
            y_test['species'].max() - y_test['species'].min())  # нормализация
y_test

    species
0       0.0
1       0.5
2       0.0
3       0.5
4       1.0
5       0.0
6       1.0
7       0.0
8       1.0
9       0.5
10      0.0
11      0.5
12      0.0
13      1.0
14      1.0
15      0.0
16      0.5
17      1.0
18      1.0
19      0.5
20      0.5
21      0.0
22      1.0
23      1.0
24      0.5
25      1.0
26      1.0
27      0.5
28      1.0
29      1.0
30      0.5
31      0.5
32      0.5
33      0.5
34      0.0
35      0.5
36      0.0
37      0.5
38      0.0
39      0.0
40      1.0
41      0.5
42      0.0
43      0.5
44      0.5
45      0.0
46      0.5
47      0.0
48      1.0
49      0.5

In [381]:
X_train.shape[0]

150

In [382]:
def rbf_function(x, c, s):
    return np.exp(-1 / (2 * s ** 2) * (x - c) ** 2)


class RBFNetwork:
    def __init__(self, k, learning_rate, epochs):
        self.k = k
        self.learning_rate = learning_rate
        self.epochs = epochs

    def train(self, X, y):
        self.centers = [X.values[125], X.values[105], X.values[55], X.values[78], X.values[0], X.values[15]]
        self.sigma = X.std().mean()
        self.weights = [random.uniform(0, 1)] * self.k
        for epoch in range(self.epochs):
            for i in range(X.shape[0]):
                distances = np.linalg.norm(X.loc[i].values - self.centers, axis=1)  # отклонение
                phi = rbf_function(distances, 0, self.sigma)
                prediction = phi.dot(self.weights)
                self.weights += self.learning_rate * (y.loc[i].values - prediction) * phi


    def predict(self, X):
        y_pred = []
        for i in range(X.shape[0]):
            distances = np.linalg.norm(X.loc[i].values - self.centers, axis=1)
            phi = rbf_function(distances, 0, self.sigma)
            prediction = phi.dot(self.weights)
            y_pred.append(prediction)
        return y_pred


rbf_network = RBFNetwork(k=6, learning_rate=0.1, epochs=300)
rbf_network.train(X=X_train, y=y_train)

y_test['y_pred'] = rbf_network.predict(X=X_test)
y_test['y_pred'] = abs(y_test['y_pred'] - y_test['y_pred'].mean())
y_test

    species    y_pred
0       0.0  0.075139
1       0.5  0.277110
2       0.0  0.330760
3       0.5  0.123468
4       1.0  0.673553
5       0.0  0.727576
6       1.0  0.679401
7       0.0  0.145181
8       1.0  0.677742
9       0.5  0.439181
10      0.0  0.029351
11      0.5  0.389557
12      0.0  0.370351
13      1.0  0.679860
14      1.0  0.675422
15      0.0  0.342463
16      0.5  0.368601
17      1.0  0.681393
18      1.0  0.678407
19      0.5  0.297657
20      0.5  0.163303
21      0.0  0.422893
22      1.0  0.683158
23      1.0  0.678188
24      0.5  0.337542
25      1.0  0.676417
26      1.0  0.681242
27      0.5  0.377949
28      1.0  0.684575
29      1.0  0.678218
30      0.5  0.368565
31      0.5  0.226886
32      0.5  0.415929
33      0.5  0.001475
34      0.0  0.230109
35      0.5  0.264510
36      0.0  0.648100
37      0.5  0.199846
38      0.0  0.345443
39      0.0  0.453251
40      1.0  0.678198
41      0.5  0.252133
42      0.0  0.633994
43      0.5  0.300259
44      0.5  0.414721
45      0.0  0.287701
46      0.5  0.348892
47      0.0  0.149053
48      1.0  0.679031
49      0.5  0.251218

In [383]:
from sklearn.metrics import mean_squared_error
y_test = round(y_test, 2)
mean_squared_error(y_test['species'], y_test['y_pred'])

0.101146

In [384]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test['species'], y_test['y_pred'], normalize=False)

ValueError: continuous is not supported

In [385]:
y_test

    species  y_pred
0       0.0    0.08
1       0.5    0.28
2       0.0    0.33
3       0.5    0.12
4       1.0    0.67
5       0.0    0.73
6       1.0    0.68
7       0.0    0.15
8       1.0    0.68
9       0.5    0.44
10      0.0    0.03
11      0.5    0.39
12      0.0    0.37
13      1.0    0.68
14      1.0    0.68
15      0.0    0.34
16      0.5    0.37
17      1.0    0.68
18      1.0    0.68
19      0.5    0.30
20      0.5    0.16
21      0.0    0.42
22      1.0    0.68
23      1.0    0.68
24      0.5    0.34
25      1.0    0.68
26      1.0    0.68
27      0.5    0.38
28      1.0    0.68
29      1.0    0.68
30      0.5    0.37
31      0.5    0.23
32      0.5    0.42
33      0.5    0.00
34      0.0    0.23
35      0.5    0.26
36      0.0    0.65
37      0.5    0.20
38      0.0    0.35
39      0.0    0.45
40      1.0    0.68
41      0.5    0.25
42      0.0    0.63
43      0.5    0.30
44      0.5    0.41
45      0.0    0.29
46      0.5    0.35
47      0.0    0.15
48      1.0    0.68
49      0.5    0.25